git+https://github.com/django-nonrel/django@nonrel-1.5
git+https://github.com/django-nonrel/djangotoolbox
git+https://github.com/django-nonrel/mongodb-engine
python-social-auth==0.1.20
django-haystack==2.1.0
elasticsearch==0.4.4
pyelasticsearch==0.6.1
pil
djangorestframework==2.3.12
celery==3.1.8
