{% extends 'base.html' %}

{% block content %}

    <div id="motivators">

    {% for motivator in motivators %}
    <div class="jumbotron">
            <div style="background: black; border: 1px solid papayawhip; padding: 55px; padding-bottom: 75px;">
                {% if motivator.img %}
                    <img src="/images/{{ motivator.img.name }}" alt="{{ motivator.text }}" class="img-responsive" style="margin: 0 auto;"/>
                {% endif %}
                <h1 class="text-center">{{ motivator.text }}</h1>
            </div>
        <hr/>
        <p>
            <strong>
            Author: {{ motivator.author }}<br>
            </strong>
            <small>
            Created on: {{ motivator.created_on }}
            </small>
        </p>

    </div>
    {% endfor %}
    </div>
    <p id="show_more_p" class="text-center">
    <a href="#" id="show_more" class="btn btn-info btn-large">Show more &raquo;</a>
    </p>

{% endblock %}
